*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
header{
    background: black;
    height: 200px;
}
nav{
    background: pink;
    height: 70px;
}
aside{
    width: 20%;
    height: 500px;
}
#aside1{
  background:green;
  float: left;

}
#aside2{
    background: red;
    float: right;
}
main{
    width: 60%;
    height: 500px;
    background: blue;
    float: left;
}
.both{
    clear: both;
}
footer{
   height: 200px;
   background: cyan;
}

@media screen and (max-width:768px) {
    aside{
        width: 100%;
    }
    main{
        width: 100%;
        height: 700px;
    }
}